html
	include includes/head.pug
	body
		include includes/header.pug
		.container
			h1.bd-title!= message
			p.bd-lead Node.js es un entorno en tiempo de ejecución, multiplataforma. Esta especializado en I/O (entrada/salida) en una arquitectura orientada a eventos, asíncrono y creado con el motor de Javascript V8, de Chrome, nos permite desarrollar aplicaciones de servidor utilizando ECMAScript, por lo que no necesitamos de un navegador web para ejecutar dicho código. Extendido y utilizado en muchísimos proyectos, debido a su versatilidad, gran comunidad y cantidad de paquetes desarrollados por terceros, que se pueden utilizar en nuestro desarrollo, se está convirtiendo en una de las plataformas más extendidas y utilizadas en el mundo web, pero no solo se utiliza para el desarrollo web (back o front), si no que también es utilizado para temas de IOT, y demás.

		.container
			.row
				.col-md-4
					h5 Introducción a Node.js
					ol
						li ¿Qué es Node.js?
						li ¿Y NPM?
						li ¿Qué podemos hacer con Node.js?
						li Instalación
						li Comunidad y ecosistema
						li Hola Mundo!
				.col-md-4
					h5 Ecmascript
					ol
						li Nuevas features
						li Babel
				.col-md-4
					h5 Node.js
					ol
						li Manejo de eventos
						li Programación asíncrona
						li Modularización
						li Introducción a Sockets
						li Manejo de errores
						li Nodemon
				.col-md-4
					h5 Nuestro primer servidor web
					ol
						li Módulo HTTP
						li Un servidor básico
						li El objeto response
						li Encabezados
						li Nuestra home!
						li Vitaminemos nuestra home!
				.col-md-4
					h5 Renderizado desde el servidor
					ol
						li Nuestro primer servidor
						li Configuremos nuestro servidor
						li Trabajando con templates
						li Routing
						li Layouts
						li Ficheros estáticos
						li Rutas parametrizables
						li Manejo de errores en express
						li Modularización
						li Testing de nuestra web
				.col-md-4
					h5 Nuestra primera Rest
					ol
						li ¿Qué es REST?
						li Nuestro primer servidor
						li Configuremos nuestra API
						li Configurando el entorno (dev o prod)
						li Routing
						li Modularización
						li Securzando nuestra API
						li Testeando nuestra API Rest!
				.col-md-4
					h5 Sockets!
					ol
						li ¿Qué es, y para qué sirven los sockets?
						li Implementación básica

				.col-md-4
					h5 Producción
					ol
						li Despleguemos nuestra web/API!

				.col-md-4
					h5 Bonus!
					ol
						li Dockerizando nuestro servidor

		include includes/footer.pug